/* =========================================================
   BIA
   ========================================================= */

.font-row.bia{
  overflow:hidden;
}

.font-row.bia a{
  font-family:Bia,serif;
  font-weight:700;
  color:var(--black);
  cursor:pointer;
  line-height:1.12;
  transform:translateY(9px);
  transition:color .15s ease;
}

.font-row.bia:hover a{
  color:var(--yellow);
}


/* =========================================================
   MOBILE BIA
   ========================================================= */

@media(max-width:700px){

  .font-row.bia{
    overflow:hidden;
  }

  .font-row.bia a{
    line-height:1.12;
    transform:translateY(7px);
  }

}
